@media all and (max-width: 1024px) {
    .sobre-mi .content-sobre-mi img {
        padding: 60px 0;
    }
    
    .caja-parrafos {
        width: 70%;
        padding: 20px;
    }
}

@media all and ( max-width: 685px ) {
    .caja-parrafos {
        width: 80%; 
    }

}

@media all and ( max-width: 632px ) {
    .cabecera {
        flex-flow: column wrap;
    }

    .logo {
        padding-bottom: 20px;
    }

    .content-header {
        margin-top: 150px;
    }
}


@media all and ( max-width: 500px ) { 
    .content-header h1 {
        font-size: 50px;
        padding-bottom: 20px;
    }

    .caja-parrafos {
        width: 90%;
    }

    .habilidades h3 {
        font-size: 45px;
        margin-top: 120px;
    }
}

 @media all and ( max-width: 375px ) {
    .content-header h1 {
        font-size: 43px;
    }

    .caja-parrafos {
        text-align: center;
    }

    .habilidades h3 {
        font-size: 40px;
        margin-top: 100px;
    }

}

